/* aside boshlandi */
aside {
    padding: 2rem 5rem;
    display: flex;
    justify-content: space-between;
}
aside_left {
    
    width: 50%;
}

.clients_left img {
    width: 35rem; 
}

aside h2 {
    margin: 1rem 0 1rem 0;
    
    font-size: 2rem;
    color: #356EAD;
    letter-spacing: 4%;
    line-height: 100%;
}

aside p {
    margin-bottom: 1rem;
    width: 80%;
    color: #356EAD;
    line-height: 150%;
    opacity: 0.6;
}

.aside_right {
    width: 60%;
    align-items: center;
    padding: 3rem;
    background: #FFFFFF;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
}

aside .btn {
    margin-top: 2rem;
    padding: 1rem 17.5rem;
    border:1px solid #356EAD;
    border-radius: 0.4rem;
}

.form_container {
    padding: 4rem;
}

input, textarea {
    width: 100%;
    padding: 2rem;
    border-radius: 1rem;
    margin: 0.5rem 0 2rem 0;
}

.aside_bottom {
    padding: 0.5rem 5rem;
    display: flex;
    flex-items: center;
width: 100%;
height: 20rem;
}
/* aside tugadi */